/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "futura md bt";
    text-decoration: none;
    list-style: none;
}

body {
    margin-top: 100px; /* Añadir margen superior para evitar que el contenido se superponga */
    display: flex;
}

/* Estilos para el encabezado */
.header {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 400px;
    background: #053b3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipo {
    color: #f79809; /* Logotipo color de letra */
    text-decoration: none;
    font-size: 25px;
    transition: color 0.7s; /* Suaviza la transición del color */
}

.logotipo:hover {
    color: #ffffff; /* Cambia este color al que prefieras */
}

.menu-icon {
    display: none; /* Oculta el icono del menú hamburguesa en pantallas grandes */
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

#menu-toggle {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    color: #f79809; /* Color de texto del encabezado */
    padding: 5px 10px;
    transition: background 0.3s;
    text-decoration: none; /* Quitar subrayado */
}

.menu ul li a:hover {
    color: #ffffff;
    transition: background 0.3s;
}

/* Estilos para la barra lateral */
.sidebar {
    position: fixed;
    z-index: 10;
    top: 70px;
    left: 0;
    width: 250px;
    height: calc(100% - 70px);
    background-color: #000;
    padding-top: 20px;
    text-align: center;
}

.sidebar-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidebar-menu ul li {
    margin: 10px 0;
}

.sidebar-menu ul li a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.sidebar-menu ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
}
/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    body {
        margin-top: 120px; /* Ajusta el margen superior para pantallas pequeñas */
    }

    .header {
        padding: 20px;
    }

    .menu-icon {
        display: block; /* Muestra el icono del menú hamburguesa en pantallas pequeñas */
    }

    /* Definición de la animación de deslizamiento desde arriba */
    @keyframes slideInDown {
        0% {
            transform: translateY(z-index);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 2;
        }
    }

    @keyframes slideOutUp {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(z-index);
            opacity: 0;
        }
    }

    .menu {
        position: absolute;
        top: 97px; /* Ajusta la posición para que no tape el contenido */
        right: 0;
        background: #000000c5;
        flex-direction: column;
        width: 100%;
        z-index: 1; /* Ajusta el z-index para que esté delante del contenido */
        max-height: 0; /* Altura máxima inicial a 0 */
        overflow: hidden; /* Ocultar contenido desbordado */
        opacity: 0; /* Inicialmente invisible */
        transform: translateY(-10px); /* Inicia con un desplazamiento hacia arriba */
        transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease; /* Suaviza la transición de la altura, la opacidad y el desplazamiento */
        display: flex; /* Usar display flex para el menú */
    }

    #menu-toggle:checked + .menu-icon + .menu {
        max-height: 500px; /* Ajusta este valor según la altura esperada del menú */
        opacity: 1; /* Totalmente visible */
        transform: translateY(0); /* Desciende a su posición normal */
        animation: slideInDown 1.0s ease; /* Aplica la animación de deslizamiento */
    }

    #menu-toggle:not(:checked) + .menu-icon + .menu {
        animation: slideOutUp 1.0s ease; /* Aplica la animación de ocultación */
        max-height: 0; /* Altura máxima inicial a 0 */
        opacity: 0; /* Oculta el menú */
        transform: translateY(0px); /* Desplazamiento hacia arriba */
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .menu ul li {
        margin: 10px 0;
    }

    .sidebar {
        display: none;
    }
}
